$pcolor:#0798bf; // primary blue color
$scolor:#e0446d; //secondary pink color
$green:#7db343; //green color
$white:#ffffff; //white color
$black:#000000; //black color
$gray:#545a77; //gray color
$lightgray:#f6f8fd; //light gray color

$ffamily:'Rubik',
sans-serif;
$fsize:15px;
$fweight:400;

//device breakpoints variblaes
$mobile-width:320px; //mobile basic breakpoints
$mlandscape-width:576px; //small devices
$tablet-width:768px; //medium devices 
$laptop-width:992px; //large devices 
$desktop-width:1200px; //extra large 