@charset "UTF-8";
@import url("https://fonts.googleapis.com/css?family=Rubik:300,400,500,700&display=swap&subset=cyrillic,hebrew,latin-ext");
body {
  font-family: "Rubik", sans-serif;
  color: #000000;
  font-size: 15px;
  font-weight: 400;
  text-rendering: geometricPrecision;
  -moz-text-rendering: geometricPrecision;
  -webkit-text-rendering: geometricPrecision;
  -ms-text-rendering: geometricPrecision;
  -o-text-rendering: geometricPrecision;
}

body ul,
body li {
  list-style: none;
  padding: 0;
}

body .flight, body .homeslider p, .homeslider body p {
  font-weight: 300;
}

body .fnormal {
  font-weight: 400;
}

body .fsbold {
  font-weight: 500;
}

body .fbold, body .task-detail .status span, .task-detail .status body span {
  font-weight: 700;
}

body .brdlink {
  border-radius: 20px;
  border: 1px solid #ffffff;
  transition: all 0.2s ease;
  -moz-transition: all 0.2s ease;
  -webkit-transition: all 0.2s ease;
  -ms-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
}

body .pinkbtn {
  background: #e0446d;
  border-radius: 30px;
  color: #ffffff !important;
}

body .pinkbtnlg, body .homeslider a, .homeslider body a, body .task-custom button, .task-custom body button {
  background: #e0446d;
  border-radius: 30px;
  padding: 10px 25px;
  margin-top: 20px;
  color: #ffffff !important;
  border: none;
  height: 35px;
  line-height: 16px;
}

body .pinkbtnlg:hover, body .homeslider a:hover, .homeslider body a:hover, body .task-custom button:hover, .task-custom body button:hover {
  background: #dc2e5c;
  box-shadow: 0 2px 2px #888;
  -moz-box-shadow: 0 2px 2px #888;
  -webkit-box-shadow: 0 2px 2px #888;
  -ms-box-shadow: 0 2px 2px #888;
  -o-box-shadow: 0 2px 2px #888;
}

body .pinkbtnlg:focus, body .homeslider a:focus, .homeslider body a:focus, body .task-custom button:focus, .task-custom body button:focus {
  outline: none;
  border: none;
  -webkit-box-shadow: none;
          box-shadow: none;
}

body .bluebtnlg, body .task-detail .primaryrt .primary-details-rt button, .task-detail .primaryrt .primary-details-rt body button {
  background: #0798bf;
  border-radius: 30px;
  padding: 10px 25px;
  margin-top: 20px;
  color: #ffffff !important;
  border: none;
  height: 40px;
}

body .bluebtnlg:hover, body .task-detail .primaryrt .primary-details-rt button:hover, .task-detail .primaryrt .primary-details-rt body button:hover {
  background: #0684a6;
  box-shadow: 0 2px 2px #888;
  -moz-box-shadow: 0 2px 2px #888;
  -webkit-box-shadow: 0 2px 2px #888;
  -ms-box-shadow: 0 2px 2px #888;
  -o-box-shadow: 0 2px 2px #888;
}

body .bluebtnlg:focus, body .task-detail .primaryrt .primary-details-rt button:focus, .task-detail .primaryrt .primary-details-rt body button:focus {
  outline: none;
  border: none;
  -webkit-box-shadow: none;
          box-shadow: none;
}

body .whitebtn {
  background: #ffffff;
  border-radius: 30px;
  padding: 10px 25px;
  color: #0798bf !important;
  border: 1px solid #0798bf;
  height: 35px;
  line-height: 15px;
}

body .whitebtn:hover {
  background: #0684a6;
  color: #ffffff !important;
}

body .whitebtn:focus {
  outline: none;
  border: none;
  -webkit-box-shadow: none;
          box-shadow: none;
}

body .fpink {
  color: #e0446d;
}

body .fblue {
  color: #0798bf !important;
}

body .fgray, body .task-detail .status span, .task-detail .status body span {
  color: #545a77;
}

body .fwhite {
  color: #ffffff;
}

body .fblack {
  color: #000000;
}

body a.fblack:hover {
  color: #0798bf;
}

body .fgreen {
  color: #7db343;
}

body .flgray, body .task-detail .list-group .list-group-item .icomoon, .task-detail .list-group .list-group-item body .icomoon {
  color: #b4b7ca;
}

body .bgflgray {
  background: #f6f8fd;
}

body .fred {
  color: red;
}

body a.fpink:hover {
  color: #0798bf;
}

body .socialbtn {
  padding: 6px 15px;
  color: #ffffff;
  text-align: center;
  width: 48%;
  border: 1px solid transparent;
}

body .fbbtn {
  background: #3b558b;
}

body .fbbtn:hover {
  border: 1px solid #3b558b;
  color: #3b558b !important;
  background: none;
}

body .googlesocial {
  background: #ea634e;
}

body .googlesocial:hover {
  border: 1px solid #ea634e;
  color: #ea634e !important;
  background: none;
}

.iconedit, .profile-banner .edit-profile-icon, .right-profile-section .static-data .edit-profile-icon, .image-upload .fileinput {
  position: absolute;
  top: 10px;
  right: -40px;
  width: 45px;
  height: 45px;
  border-radius: 50%;
  background: rgba(84, 90, 119, 0.6);
  display: inline-block;
  text-align: center;
  line-height: 47px;
}

.iconedit .icomoon, .profile-banner .edit-profile-icon .icomoon, .right-profile-section .static-data .edit-profile-icon .icomoon, .image-upload .fileinput .icomoon {
  color: #ffffff;
}

.iconedit:hover, .profile-banner .edit-profile-icon:hover, .right-profile-section .static-data .edit-profile-icon:hover, .image-upload .fileinput:hover {
  background: #545a77;
}

a {
  transition: all 0.2s ease;
  -moz-transition: all 0.2s ease;
  -webkit-transition: all 0.2s ease;
  -ms-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
}

a:hover {
  text-decoration: none;
}

.small {
  font-size: 12px;
}

.home-section {
  padding: 30px 0;
}

.graybox {
  background: #f6f8fd;
  padding: 50px 0;
}

.whitebox, .category-headerin {
  background: #ffffff;
  padding: 20px;
}

.dropdown-menu-arrow {
  top: -25px;
  left: 25%;
  width: 0;
  height: 0;
  position: relative;
}

@media (min-width: 320px) and (max-width: 575px) {
  .dropdown-menu-arrow {
    display: none;
  }
}

.dropdown-menu-arrow:before,
.dropdown-menu-arrow:after {
  content: "";
  position: absolute;
  display: block;
  width: 0;
  height: 0;
  border-width: 7px 8px;
  border-style: solid;
  border-color: transparent;
  z-index: 1001;
}

.dropdown-menu-arrow:after {
  bottom: -18px;
  right: -8px;
  border-bottom-color: #fff;
}

.dropdown-menu-arrow:before {
  bottom: -17px;
  right: -8px;
  border-bottom-color: rgba(0, 0, 0, 0.15);
}

.innerheader .subpage {
  padding-top: 66px;
}

.fixed-theme, .innerheader header {
  background: #ffffff !important;
  box-shadow: 0 2px 2px #888;
  -moz-box-shadow: 0 2px 2px #888;
  -webkit-box-shadow: 0 2px 2px #888;
  -ms-box-shadow: 0 2px 2px #888;
  -o-box-shadow: 0 2px 2px #888;
  padding: 5px 0;
}

.fixed-theme .navbar-brand, .innerheader header .navbar-brand {
  padding: 0;
  margin-right: 2.5em;
  margin-top: -5px;
}

.fixed-theme .navbar-brand .icon-logo, .innerheader header .navbar-brand .icon-logo {
  font-size: 35px;
  color: #0798bf;
}

.fixed-theme .nav-link, .innerheader header .nav-link {
  color: #545a77;
  font-size: 14px;
  padding-left: 15px !important;
  padding-right: 15px !important;
}

.fixed-theme .nav-link:hover, .innerheader header .nav-link:hover {
  color: #e0446d;
}

.fixed-theme .pinkbtn, .innerheader header .pinkbtn {
  color: #ffffff;
}

.fixed-theme .pinkbtn:hover, .innerheader header .pinkbtn:hover {
  background: #0798bf;
  color: #ffffff;
}

.fixed-theme .brdlink, .innerheader header .brdlink {
  color: #0798bf;
  border-color: #0798bf;
}

.fixed-theme .brdlink:hover, .innerheader header .brdlink:hover {
  background: #0798bf;
  color: #ffffff;
}

header {
  padding: 12px 0;
}

header .nav-link {
  color: #ffffff;
  font-size: 14px;
  padding-left: 15px !important;
  padding-right: 15px !important;
}

header .nav-link:hover {
  color: #e0446d;
}

header .navbar-brand {
  padding: 0;
  margin-right: 2.5em;
  margin-top: -5px;
}

header .navbar-brand .icon-logo {
  font-size: 35px;
  color: #ffffff;
}

header .dropdown .dropdown-menu {
  top: 30px;
}

header .dropdown .dropdown-menu .drop-in {
  width: 400px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

header .dropdown .dropdown-menu .dropdown-item {
  font-size: 13px;
  width: 50%;
}

header .dropdown .dropdown-menu .dropdown-item:hover {
  background: #e0446d;
  color: #ffffff;
}

header .brdlink:hover {
  background: #ffffff;
  color: #0798bf;
}

header .pinkbtn:hover {
  background: #ffffff;
  color: #e0446d !important;
}

header .navbar-toggler .icomoon {
  color: #ffffff;
}

header .options-categories {
  padding: 15px;
}

header .options-categories button {
  border: none;
}

header .options-categories .select-btn {
  border: 1px solid #000000;
  color: #000000 !important;
  background: none;
}

main {
  min-height: 750px;
}

.homeslider {
  background: url(../img/homepage-banner.jpg) no-repeat center center;
  width: 100%;
  height: 100vh;
  background-size: cover;
  position: relative;
}

.homeslider:before {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: #000000;
  opacity: 0.3;
}

@media (min-width: 320px) and (max-width: 575px) {
  .homeslider {
    background: url(../img/homepage-banner.jpg) no-repeat -290px -60px;
  }
}

.homeslider .h1 {
  font-size: 45px;
  color: #ffffff;
}

@media (min-width: 320px) and (max-width: 575px) {
  .homeslider .h1 {
    font-size: 30px;
  }
}

.homeslider p {
  font-size: 25px;
  color: #ffffff;
}

@media (min-width: 320px) and (max-width: 575px) {
  .homeslider p {
    font-size: 20px;
  }
}

.homeslider a {
  display: inline-block;
}

@media (min-width: 320px) and (max-width: 575px) {
  .categories-in {
    overflow-x: auto;
  }
}

@media (min-width: 576px) and (max-width: 767px) {
  .categories-in {
    overflow-x: auto;
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  .categories-in {
    overflow-x: auto;
  }
}

.categories-in .cat-col-home {
  margin: 0 5px;
  width: 120px;
  text-align: center;
}

.categories-in .cat-col-home .icomoon {
  width: 100px;
  height: 100px;
  background: #545a77;
  border-radius: 50%;
  display: inline-block;
  text-align: center;
  font-size: 35px;
  color: #ffffff;
  line-height: 100px;
  transition: all 0.2s ease;
  -moz-transition: all 0.2s ease;
  -webkit-transition: all 0.2s ease;
  -ms-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
}

.categories-in .cat-col-home .text {
  display: block;
  color: #000000;
  padding: 10px 0;
  font-size: 14px;
  text-align: center;
}

.categories-in .cat-col-home:hover .icomoon {
  background: #0798bf;
}

.categories-in .cat-col-home:hover .text {
  color: #0798bf;
}

.customtab {
  padding: 25px 0;
}

.other-getdone a {
  color: #000000;
  cursor: pointer;
  display: block;
}

.other-getdone .card {
  margin-bottom: 10px;
  min-height: 160px;
}

.other-getdone .card .card-header {
  background: none;
}

.other-getdone .card .card-header .h6 {
  margin-bottom: 0;
  font-size: 14px;
}

.other-getdone .card .card-footer {
  background: none;
}

.other-getdone .card .card-body .thumb img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  margin-right: 10px;
}

.other-getdone .card .card-body .thumb p {
  font-size: 13px;
}

.videoimg a.playicon {
  top: 50%;
  left: 50%;
  margin-top: -30px;
  margin-left: -30px;
  background: #0798bf;
  border-radius: 50%;
  width: 75px;
  height: 75px;
  text-align: center;
  line-height: 88px;
}

.videoimg a.playicon .icomoon {
  font-size: 30px;
  color: #ffffff;
}

.videoimg a.playicon:hover {
  background: #ffffff;
  box-shadow: 0 2px 2px #888;
  -moz-box-shadow: 0 2px 2px #888;
  -webkit-box-shadow: 0 2px 2px #888;
  -ms-box-shadow: 0 2px 2px #888;
  -o-box-shadow: 0 2px 2px #888;
}

.videoimg a.playicon:hover .icomoon {
  color: #0798bf;
}

.howitcol img {
  width: 120px;
  margin-right: 10px;
}

.howitcol p {
  font-size: 14px;
}

.taskers-home .tasker-item {
  background: #ffffff;
  min-height: 300px;
  margin: 0 5px;
}

.taskers-home .tasker-item .tasker-fig {
  width: 125px;
  margin: 0 auto;
  border-radius: 50%;
  padding: 5px;
  box-shadow: 0 2px 2px #888;
  -moz-box-shadow: 0 2px 2px #888;
  -webkit-box-shadow: 0 2px 2px #888;
  -ms-box-shadow: 0 2px 2px #888;
  -o-box-shadow: 0 2px 2px #888;
}

.taskers-home .tasker-item .h5 {
  font-size: 17px;
}

.taskers-home .card .card-footer {
  background: none;
}

.custom-slick .slick-arrow {
  height: 1px;
  text-indent: -100000px;
  border: none;
  background: none;
  display: none;
}

.custom-slick .slick-arrow:focus {
  outline: none;
}

.custom-slick .slick-prev:before {
  content: "\f104";
  font-family: 'icomoon' !important;
  top: -25px;
  position: absolute;
  right: 50px;
  font-size: 20px;
  color: #545a77;
  background: #ffffff;
  width: 45px;
  text-align: center;
  height: 36px;
  line-height: 33px;
  text-indent: 0;
  transition: all 0.2s ease;
  -moz-transition: all 0.2s ease;
  -webkit-transition: all 0.2s ease;
  -ms-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
}

@media (min-width: 320px) and (max-width: 575px) {
  .custom-slick .slick-prev:before {
    top: -7px;
    z-index: 99;
  }
}

.custom-slick .slick-prev:hover:before {
  content: "\f104";
  background: #0798bf;
  color: #ffffff;
  border: 1px solid #0798bf;
}

.custom-slick .slick-next:before {
  content: "\f105";
  font-family: 'icomoon' !important;
  top: -25px;
  position: absolute;
  right: 0;
  font-size: 20px;
  color: #545a77;
  background: #ffffff;
  width: 45px;
  text-align: center;
  height: 36px;
  line-height: 33px;
  text-indent: 0;
  transition: all 0.2s ease;
  -moz-transition: all 0.2s ease;
  -webkit-transition: all 0.2s ease;
  -ms-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
}

@media (min-width: 320px) and (max-width: 575px) {
  .custom-slick .slick-next:before {
    top: -7px;
    z-index: 99;
  }
}

.custom-slick .slick-next:hover:before {
  content: "\f105";
  background: #0798bf;
  color: #ffffff;
  border: 1px solid #0798bf;
}

.feature-col img {
  width: 100px;
  border-radius: 50%;
  padding: 5px;
  box-shadow: 0 2px 2px #888;
  -moz-box-shadow: 0 2px 2px #888;
  -webkit-box-shadow: 0 2px 2px #888;
  -ms-box-shadow: 0 2px 2px #888;
  -o-box-shadow: 0 2px 2px #888;
  margin-bottom: 10px;
}

.feature-col .h5 {
  padding: 5px 0;
}

.right-user-panel .socialcol a {
  line-height: 48px;
}

.socialcol a {
  width: 40px;
  height: 40px;
  background: #3f4359;
  border-radius: 50%;
  text-align: center;
  line-height: 42px;
  display: inline-block;
}

.socialcol a .icomoon {
  color: #f6f8fd;
  font-size: 20px;
}

.socialcol a:hover {
  background: #e0446d;
}

footer {
  background: #545a77;
  padding-top: 20px;
}

footer .h5 {
  color: #ffffff;
}

footer a {
  color: #b4b7ca;
  font-size: 13px;
  padding: 5px 0;
  display: inline-block;
}

footer a:hover {
  color: #ffffff;
}

footer .bottom-footer {
  background: #1f212c;
  padding: 20px 0;
}

footer .bottom-footer .rightcol p {
  color: #f6f8fd;
  text-align: right;
}

footer .movetop {
  position: fixed;
  bottom: 15px;
  right: 15px;
  width: 35px;
  height: 35px;
  background: #e0446d;
  text-align: center;
  line-height: 30px;
  display: none;
  border-radius: 5px;
}

footer .movetop .icomoon {
  font-size: 17px;
  color: #ffffff;
}

.sub-main .sub-header {
  background: url(../img/subpage-headerbg.jpg) no-repeat 0 center;
  background-size: cover;
  min-height: 250px;
  padding-top: 120px;
  margin-bottom: 50px;
}

.custom-form label {
  font-size: 13px;
  padding-bottom: 0;
  margin-bottom: 3px;
}

.custom-form .form-control {
  height: 45px;
  border-radius: 5px;
  border: 1px solid #ced4da !important;
  border-radius: 0;
  font-size: 15px;
}

.custom-form .date {
  padding: 0 10px;
}

.custom-form .gj-datepicker-md .gj-icon {
  color: #545a77;
  top: 10px;
  right: 10px;
}

.custom-form ::-webkit-input-placeholder {
  font-size: 13px;
  color: #c3c6d4;
}

.custom-form :-ms-input-placeholder {
  font-size: 13px;
  color: #c3c6d4;
}

.custom-form ::-ms-input-placeholder {
  font-size: 13px;
  color: #c3c6d4;
}

.custom-form ::placeholder {
  font-size: 13px;
  color: #c3c6d4;
}

.custom-form .pinkbtn {
  font-size: 17px;
  transition: all 0.2s ease;
  -moz-transition: all 0.2s ease;
  -webkit-transition: all 0.2s ease;
  -ms-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
  padding: 10px 0;
  border: none;
}

.custom-form .pinkbtn:hover {
  box-shadow: 0 2px 2px #888;
  -moz-box-shadow: 0 2px 2px #888;
  -webkit-box-shadow: 0 2px 2px #888;
  -ms-box-shadow: 0 2px 2px #888;
  -o-box-shadow: 0 2px 2px #888;
}

.stepbody {
  min-height: 450px;
  padding: 30px;
}

.stepbody .bluebg {
  background: #0798bf;
  color: #ffffff;
}

.subpage-body header {
  background: url(../img/subpage-headerbg.jpg) no-repeat 0 0;
  background-size: cover;
}

.subpage {
  min-height: 500px;
  padding-top: 80px;
}

.subpage p {
  text-align: justify;
  padding-bottom: 15px;
}

.subpage .task-nav {
  background: #ffffff;
  box-shadow: 0 2px 2px #888;
  -moz-box-shadow: 0 2px 2px #888;
  -webkit-box-shadow: 0 2px 2px #888;
  -ms-box-shadow: 0 2px 2px #888;
  -o-box-shadow: 0 2px 2px #888;
}

.subpage .task-nav .nav-link {
  opacity: 1;
  color: #0798bf;
  font-size: 14px;
}

.subpage .task-nav .dropdown-menu {
  min-width: 360px;
}

.round-input {
  border-radius: 20px;
}

::-webkit-input-placeholder {
  font-size: 13px;
  color: #969bb5;
}

:-ms-input-placeholder {
  font-size: 13px;
  color: #969bb5;
}

::-ms-input-placeholder {
  font-size: 13px;
  color: #969bb5;
}

::placeholder {
  font-size: 13px;
  color: #969bb5;
}

.search-tasker .icomoon {
  font-size: 20px;
  color: #969bb5;
  position: relative;
}

.search-tasker .round-input {
  padding-right: 40px;
  position: relative;
  right: -52px;
}

.task-custom .small-title {
  font-size: 13px;
  text-transform: uppercase;
  letter-spacing: 2px;
}

.task-custom button {
  height: 35px;
  line-height: 8px;
  font-size: 14px;
  border: none;
}

.slidecontainer {
  width: 100%;
}

.slider {
  -webkit-appearance: none;
  width: 100%;
  height: 10px;
  border-radius: 5px;
  background: #d3d3d3;
  outline: none;
  opacity: 0.7;
  -webkit-transition: .2s;
  -webkit-transition: opacity .2s;
  transition: opacity .2s;
}

.slider:hover {
  opacity: 1;
}

.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background: #0798bf;
  cursor: pointer;
}

.slider::-moz-range-thumb {
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background: #4CAF50;
  cursor: pointer;
}

.taskrow {
  padding-top: 25px;
}

.left-task {
  height: 100vh;
  overflow-y: auto;
  overflow-x: hidden;
  z-index: 0;
}

.left-task .expired-request {
  opacity: 0.6;
  cursor: inherit !important;
}

.left-task .expired-request:hover {
  -webkit-box-shadow: none !important;
          box-shadow: none !important;
}

.left-task .request-col {
  background: #ffffff;
  padding: 10px;
  min-height: 100px;
  cursor: pointer;
  transition: all 0.2s ease;
  -moz-transition: all 0.2s ease;
  -webkit-transition: all 0.2s ease;
  -ms-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
  width: 100%;
  border: 1px solid #e1e2e9;
}

.left-task .request-col:hover {
  box-shadow: 0 2px 2px #888;
  -moz-box-shadow: 0 2px 2px #888;
  -webkit-box-shadow: 0 2px 2px #888;
  -ms-box-shadow: 0 2px 2px #888;
  -o-box-shadow: 0 2px 2px #888;
}

.left-task .request-col h2 {
  font-size: 17px;
  font-weight: normal;
  margin-bottom: 0;
}

.left-task .request-col h2 .price {
  text-align: right;
  color: #0798bf;
  width: 70px;
}

.left-task .request-col .address-block p {
  color: #000000;
  font-size: 13px;
  line-height: 20px;
  text-align: left;
  padding-bottom: 0;
}

.left-task .request-col .address-block img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  float: right;
}

.left-task .request-col .datesel {
  font-size: 13px;
}

.left-task .requestactive {
  box-shadow: 0 2px 2px #888;
  -moz-box-shadow: 0 2px 2px #888;
  -webkit-box-shadow: 0 2px 2px #888;
  -ms-box-shadow: 0 2px 2px #888;
  -o-box-shadow: 0 2px 2px #888;
}

.map {
  height: 100vh;
}

.map iframe {
  height: 100vh;
}

.task-detail {
  height: 100vh;
  overflow-y: auto;
}

.task-detail .status span {
  text-transform: uppercase;
  padding: 2px 20px;
  display: inline-block;
  font-size: 13px;
}

.task-detail .status span.active {
  color: #e0446d;
  background: #fbe6eb;
  border-radius: 15px;
}

.task-detail .task-title {
  padding: 20px 0;
}

.task-detail .list-group .list-group-item {
  border: none;
  border-bottom: 1px solid #eff0f4;
  margin: 0;
}

.task-detail .list-group .list-group-item .icomoon {
  font-size: 21px;
}

.task-detail .primaryrt .primary-details-rt {
  border: 1px solid #a5a9bf;
  padding: 15px;
  border-radius: 10px;
}

.task-detail .primaryrt .primary-details-rt button {
  border: none;
}

.task-detail .primaryrt .dropdown-menu .dropdown-item {
  font-size: 13px !important;
}

.task-detail .primaryrt .share-task a {
  font-size: 15px;
  color: #545a77;
  font-size: 25px;
  opacity: 0.4;
}

.task-detail .primaryrt .share-task a:hover {
  opacity: 1;
}

#more {
  display: none;
}

.offer-list-item {
  padding: 10px 0;
}

.question {
  margin: 15px 0;
}

.question p {
  font-size: 14px;
}

.sm-thumb {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  -o-object-fit: cover;
     object-fit: cover;
}

.md-thumb {
  width: 65px;
  height: 65px;
  border-radius: 50%;
  -o-object-fit: cover;
     object-fit: cover;
}

.row-offers {
  padding-top: 50px;
}

.rating-tasker {
  overflow: hidden;
}

.rating-tasker li {
  float: left;
  padding-right: 2px;
}

.rating-tasker li .icomoon {
  color: #e0446d;
  font-size: 14px;
}

.tasker-desc {
  background: #eff0f4;
  padding: 15px;
}

.tasker-desc p {
  font-size: 14px;
}

.howit-primary {
  background-image: linear-gradient(-179deg, #11c9e1 25%, #0798bf);
  background-position: 50% 50%;
  background-size: cover;
  color: #ffffff;
  min-height: 250px;
  padding: 50px 0;
}

.howitrow {
  padding: 75px 0;
}

.howitrow img {
  height: 350px;
}

.howitrow .icomoon {
  font-size: 60px;
  color: #ffffff;
}

.posturtask-blocks {
  padding: 75px 0;
}

.taskers-category-row {
  padding: 25px 0;
}

.taskers-category-row .tasker-cat-col {
  position: relative;
  transition: all 0.2s ease;
  -moz-transition: all 0.2s ease;
  -webkit-transition: all 0.2s ease;
  -ms-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
}

.taskers-category-row .tasker-cat-col img {
  width: 100%;
}

.taskers-category-row .tasker-cat-col .title-cat {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(255, 255, 255, 0.8);
  padding: 10px;
  width: 100%;
  display: inline-block;
  color: #0798bf;
}

.taskers-category-row .tasker-cat-col:hover {
  box-shadow: 0 2px 2px #888;
  -moz-box-shadow: 0 2px 2px #888;
  -webkit-box-shadow: 0 2px 2px #888;
  -ms-box-shadow: 0 2px 2px #888;
  -o-box-shadow: 0 2px 2px #888;
}

.features-lara {
  background-image: linear-gradient(-179deg, #11c9e1 25%, #0798bf);
  min-height: 200px;
}

.col-how {
  color: #ffffff;
}

.roundimg {
  margin-top: -125px;
}

.last-features {
  padding: 50px 0;
}

.last-features .icomoon {
  font-size: 45px;
}

.card-category {
  color: #000000;
  width: 85%;
}

.title-row {
  padding: 25px 0;
}

.duelcol {
  padding-bottom: 25px;
}

.poster-header {
  background: url(../img/poster-bg.png) repeat 0 0;
  padding: 150px 0;
}

.category-headerin {
  box-shadow: 0 2px 3px #888;
  -moz-box-shadow: 0 2px 3px #888;
  -webkit-box-shadow: 0 2px 3px #888;
  -ms-box-shadow: 0 2px 3px #888;
  -o-box-shadow: 0 2px 3px #888;
}

.category-headerin .form-control {
  height: 55px;
  font-size: 15px;
}

.taskers-best {
  margin-top: -100px;
}

.taskercol .card {
  min-height: 350px;
  margin-bottom: 15px;
}

.taskercol .card .card-header {
  background: none;
}

.taskercol .card .card-header a {
  color: #000000;
}

.taskercol .card .card-header .icomoon {
  font-size: 12px;
  color: #0798bf;
}

.taskercol .card .card-body {
  min-height: 280px;
}

.taskercol .card .card-body .rev {
  font-size: 14px;
  text-align: left;
  color: #545a77;
}

.taskercol .card .card-body .h6 {
  font-size: 13px;
  letter-spacing: 2px;
  color: #a5a9bf;
}

.taskercol .card .card-body .badge {
  background: #eff0f4;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  line-height: 44px;
}

.taskercol .card .card-body .badge .icomoon {
  font-size: 20px;
  color: #878daa;
}

.taskercol .card .card-footer {
  padding: 15px 0;
  background: none;
}

.cust-accord {
  padding-top: 30px;
}

.cust-accord h1 {
  border-bottom: 1px solid #ececec;
  font-weight: 300;
  margin-bottom: 2em;
  padding-bottom: 1em;
  text-align: center;
}

.cust-accord h1 span {
  display: block;
  font-size: .5em;
}

.cust-accord a {
  border-bottom: 1px solid #ec407a;
  color: #607d8b;
  text-decoration: none;
}

.cust-accord a:hover,
.cust-accord a:focus {
  color: #ec407a;
  border-bottom: none;
}

.cust-accord h3 {
  font-weight: 500;
}

.cust-accord .intro {
  font-size: 1.25em;
}

.cust-accord .js .panel-title {
  margin: 0;
}

.cust-accord .panel-title a {
  border-bottom: none;
  color: #292929;
  display: block;
  padding: 15px 0;
  position: relative;
  text-decoration: none;
  -webkit-transition: color 200ms ease 0s;
  transition: color 200ms ease 0s;
  width: 100%;
  font-size: 17px;
}

.cust-accord .panel-title a .icon {
  color: #9e9e9e;
  position: absolute;
  right: 0;
  -webkit-transition: all 200ms ease 0s;
  transition: all 200ms ease 0s;
}

.cust-accord .panel-title a:hover,
.cust-accord .panel-title a:focus {
  color: #37474f;
}

.cust-accord .panel-title a:hover .icon,
.cust-accord .panel-title a:focus .icon {
  color: #ec407a;
}

.cust-accord .panel-title a.active {
  color: #37474f;
}

.cust-accord .panel-title a.active .icon {
  color: #ec407a;
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
}

.cust-accord .js .accordion {
  border-bottom: 1px solid #ececec;
  margin: 2em 0;
}

.cust-accord .accordion .panel-title a {
  border-top: 1px solid #ececec;
}

.cust-accord [id^="panel-"] {
  padding-bottom: 2em;
}

.recent-tasks p {
  font-size: 13px;
}

.user-title-nav .h6 {
  font-size: 13px;
  color: #000000;
}

.userdropdown .dropdown-toggle {
  position: relative;
  right: -15px;
}

.userdropdown .dropdown-toggle:after {
  content: '';
  display: none;
}

.userdropdown .dropdown-menu {
  top: 45px !important;
  right: 0;
  left: inherit;
}

.userdropdown .dropdown-menu .dropdown-menu-arrow {
  left: 83%;
}

.userdropdown .dropdown-menu .dropdown-item {
  width: 100% !important;
  padding: 10px;
}

.usersubpage .container {
  background: #ffffff;
  box-shadow: 0 2px 2px #888;
  -moz-box-shadow: 0 2px 2px #888;
  -webkit-box-shadow: 0 2px 2px #888;
  -ms-box-shadow: 0 2px 2px #888;
  -o-box-shadow: 0 2px 2px #888;
  padding-bottom: 25px;
}

.usersubpage .container .leftnavigation {
  border-right: 1px solid #e1e2e9;
}

.usersubpage .container .user-leftnav {
  padding-top: 25px;
  height: 100vh;
  padding-right: 20px;
}

.usersubpage .container .user-leftnav .profile-pic {
  text-align: center;
  padding-bottom: 20px;
}

.usersubpage .container .user-leftnav .profile-pic a {
  color: #000000;
  color: #545a77;
}

.usersubpage .container .user-leftnav .profile-pic a:hover {
  text-decoration: underline;
}

.usersubpage .container .user-leftnav .profile-pic figure {
  position: relative;
  width: 100px;
  height: 100px;
  margin: 10px auto;
}

.usersubpage .container .user-leftnav .profile-pic figure:hover .icomoon {
  opacity: 1;
}

.usersubpage .container .user-leftnav .profile-pic figure .icomoon {
  padding: 10px;
  background: rgba(7, 152, 191, 0.8);
  position: absolute;
  top: 50%;
  left: 50%;
  color: #ffffff;
  border-radius: 50%;
  margin-top: -18px;
  margin-left: -18px;
  opacity: 0;
  transition: all 0.2s ease;
  -moz-transition: all 0.2s ease;
  -webkit-transition: all 0.2s ease;
  -ms-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
}

.usersubpage .container .user-leftnav .profile-pic figure .md-thumb {
  width: 100px;
  height: 100px;
}

.usersubpage .container .user-leftnav .profile-nav .nav-link {
  position: relative;
  padding: 10px 15px;
}

.usersubpage .container .user-leftnav .profile-nav .nav-link:hover {
  background: #0798bf;
  color: #ffffff;
}

.usersubpage .container .user-leftnav .profile-nav .nav-link[data-toggle].collapsed:after {
  content: " ▾";
  position: absolute;
  right: 0;
}

.usersubpage .container .user-leftnav .profile-nav .nav-link[data-toggle]:not(.collapsed):after {
  content: " ▴";
  position: absolute;
  right: 0;
}

.usersubpage .container .user-leftnav .profile-nav a {
  color: #545a77;
}

.usersubpage .container .right-user-panel {
  padding-top: 20px;
}

.usersubpage .container .right-user-panel .title-page {
  border-bottom: 1px solid #e1e2e9;
  padding-bottom: 15px;
  margin-bottom: 20px;
  color: #e0446d;
}

.usersubpage .container .right-user-panel .categories-in {
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.usersubpage .container .right-user-panel .categories-in .cat-col-home {
  padding-bottom: 20px;
}

.usersubpage .container .right-user-panel .categories-in .cat-col-home .icomoon {
  width: 80px;
  height: 80px;
  font-size: 30px;
  line-height: 80px;
}

.usersubpage .container .right-user-panel .summary-div {
  border-top: 3px solid #545a77;
}

.usersubpage .container .right-user-panel .summary-div a {
  color: #000000;
}

.custom-list-group .list-group-item {
  color: #545a77;
  font-size: 14px;
}

.custom-list-group .list-group-item:before {
  content: "\f0a1";
  font-family: 'icomoon' !important;
  padding-right: 10px;
}

.custom-tab {
  padding-top: 10px;
}

.custom-tab .nav-link.active {
  background: #e0446d;
}

.custom-tab .nav-link {
  color: #000000;
}

.list-notify .list-group-item {
  font-size: 14px;
}

.list-notify .list-group-item .list-img {
  width: 18px;
}

.datepicker {
  border: 1px solid #ccc !important;
  padding: 0 8px !important;
}

.datepickergroup .gj-icon {
  top: 7px !important;
  right: 10px !important;
  color: #545a77;
}

.copylink input {
  height: 40px;
  border: 1px dashed #0798bf;
  width: 70%;
  border-radius: 20px;
}

.sharerow {
  background: #f6f8fd;
}

.howrow {
  padding: 25px 0;
}

.howrow:before {
  content: '';
  width: 100%;
  height: 1px;
  background: #f6f8fd;
  top: 20px;
  position: relative;
  margin: 0 15%;
}

.how-col .number {
  width: 40px;
  height: 40px;
  background: #f6f8fd;
  border-radius: 50%;
  display: inline-block;
  line-height: 40px;
}

.status-bar {
  margin-bottom: 50px;
}

.status-bar .bar {
  background: #f6f8fd;
  height: 10px;
  border-radius: 5px;
  width: 100%;
}

.status-bar .bar .barin {
  background: #7db343;
  height: 10px;
  border-radius: 5px;
}

.upload-avatar .avatar-thumb {
  width: 60px;
}

.upload-avatar .inputfile .pinkbtn {
  color: #ffffff;
  font-size: 13px;
}

.profile-headerbg {
  margin: 20px 0;
}

.profile-headerbg a {
  color: #000000;
  background: rgba(255, 255, 255, 0.6);
  text-align: center;
  display: block;
  padding: 5px;
  margin-top: -30px;
  position: relative;
  border-radius: 10px;
}

.profile-headerbg a:hover {
  background: rgba(255, 255, 255, 0.9);
}

/*
 * bootstrap-tagsinput v0.8.0
 * 
 */
.bootstrap-tagsinput {
  background-color: #fff;
  border: 1px solid #ccc;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
          box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  display: inline-block;
  padding: 4px 6px;
  color: #555;
  vertical-align: middle;
  border-radius: 4px;
  width: 100%;
  line-height: 22px;
  cursor: text;
}

.bootstrap-tagsinput input {
  border: none;
  -webkit-box-shadow: none;
          box-shadow: none;
  outline: none;
  background-color: transparent;
  padding: 0 6px;
  margin: 0;
  width: auto;
  max-width: inherit;
}

.bootstrap-tagsinput.form-control input::-moz-placeholder {
  color: #777;
  opacity: 1;
}

.bootstrap-tagsinput.form-control input:-ms-input-placeholder {
  color: #777;
}

.bootstrap-tagsinput.form-control input::-webkit-input-placeholder {
  color: #777;
}

.bootstrap-tagsinput input:focus {
  border: none;
  -webkit-box-shadow: none;
          box-shadow: none;
}

.bootstrap-tagsinput .badge {
  margin: 2px;
  padding: 5px 8px;
}

.bootstrap-tagsinput .badge [data-role="remove"] {
  margin-left: 8px;
  cursor: pointer;
}

.bootstrap-tagsinput .badge [data-role="remove"]:after {
  content: "×";
  padding: 0px 4px;
  background-color: rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  font-size: 13px;
}

.bootstrap-tagsinput .badge [data-role="remove"]:hover:after {
  background-color: rgba(0, 0, 0, 0.62);
}

.bootstrap-tagsinput .badge [data-role="remove"]:hover:active {
  -webkit-box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
          box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
}

.tt-menu {
  position: absolute;
  top: 100%;
  left: 0;
  z-index: 1000;
  display: none;
  float: left;
  min-width: 160px;
  padding: 5px 0;
  margin: 2px 0 0;
  list-style: none;
  font-size: 14px;
  background-color: #ffffff;
  border: 1px solid #cccccc;
  border: 1px solid rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  -webkit-box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
  background-clip: padding-box;
  cursor: pointer;
}

.tt-suggestion {
  display: block;
  padding: 3px 20px;
  clear: both;
  font-weight: normal;
  line-height: 1.428571429;
  color: #333333;
  white-space: nowrap;
}

.tt-suggestion:hover,
.tt-suggestion:focus {
  color: #ffffff;
  text-decoration: none;
  outline: 0;
  background-color: #428bca;
}

.badges-row {
  padding: 20px 0;
}

.badge-col {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 10px 0;
}

.badge-col article {
  padding: 0 15px;
}

.badge-col article .h6 {
  padding-bottom: 3px;
  margin-bottom: 0;
}

.badge-col article p {
  text-align: left;
}

.graybox {
  background: #f6f8fd;
  padding: 15px;
  margin: 10px 0;
}

.graybox .h6 {
  font-size: 15px;
}

.post-task .modal-header {
  border: none;
  padding: 20px 0 0 0;
}

.post-task .modal-header .close {
  position: relative;
  top: 12px;
  right: 12px;
}

.profile-body {
  padding: 20px;
  margin-top: -110px;
}

.profile-banner {
  position: relative;
}

.profile-banner .edit-profile-icon {
  right: -24px;
}

.main-profilerow {
  box-shadow: 0 2px 2px #888;
  -moz-box-shadow: 0 2px 2px #888;
  -webkit-box-shadow: 0 2px 2px #888;
  -ms-box-shadow: 0 2px 2px #888;
  -o-box-shadow: 0 2px 2px #888;
}

.profile-thumb {
  position: relative;
  width: 128px;
}

.profile-thumb img {
  width: 128px;
  border-radius: 50%;
  border: 5px solid #fff;
}

.profile-thumb .image-upload {
  display: none;
}

.profile-thumb .image-upload .fileinput {
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: -25px;
  margin-left: -25px;
}

.right-profile-section {
  min-height: 100px;
  padding-bottom: 25px;
  position: relative;
}

.profile-banner .inputfile {
  position: absolute;
  right: 50px;
  top: 20px;
  font-size: 12px;
}

.profile-banner .image-upload {
  display: none;
}

.image-upload .file-input-wrapper {
  display: none;
}

.image-upload input {
  display: none;
}

.image-upload .fileinput {
  right: 50px;
  cursor: pointer;
}

#edit-profile-basic {
  display: none;
}

#edit-description {
  display: none;
}

#dynamic-data-portfolio {
  display: none;
}

.figure-portfolio .upload-figure {
  width: 150px;
  height: 135px;
}

.figure-portfolio .upload-figure .fileinput {
  margin-top: 25px;
  line-height: 55px;
}

.figure-portfolio .upload-figure .fileinput .icomoon {
  font-size: 25px;
}

.figure-portfolio .figure-portfolio-img {
  width: 150px;
  height: 150px;
  object-fit: cover;
  -moz-object-fit: cover;
  -webkit-object-fit: cover;
  -ms-object-fit: cover;
  -o-object-fit: cover;
  position: relative;
}

.figure-portfolio .delete-img {
  background: rgba(7, 152, 191, 0.8);
  width: 30px;
  height: 30px;
  border-radius: 50%;
  position: absolute;
  top: 10px;
  right: 10px;
  text-align: center;
  line-height: 35px;
}

.figure-portfolio .delete-img .icomoon {
  font-size: 18px;
  color: #ffffff;
}

.tags .label {
  padding: 8px 15px;
  border-radius: 20px;
  background: #f6f8fd;
  color: #000000;
  display: inline-block;
}

#edit-skills-dynamic {
  display: none;
}

.blog-col {
  box-shadow: 0 2px 3px #888;
  -moz-box-shadow: 0 2px 3px #888;
  -webkit-box-shadow: 0 2px 3px #888;
  -ms-box-shadow: 0 2px 3px #888;
  -o-box-shadow: 0 2px 3px #888;
  min-height: 320px;
  cursor: pointer;
  margin-bottom: 25px;
}

.blog-col img {
  transition: all 0.2s ease;
  -moz-transition: all 0.2s ease;
  -webkit-transition: all 0.2s ease;
  -ms-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
}

.blog-col img:hover {
  opacity: 0.6;
}

.blog-col article {
  padding: 15px 10px;
}

.blog-col article .h5 {
  font-weight: normal;
  color: #545a77;
}

.blog-col article p {
  text-align: left;
  color: #545a77;
  padding-top: 5px;
}

.blog-col article .author {
  font-size: 14px;
  color: #969bb5;
}

#movejobs {
  scroll-behavior: smooth;
}

#page-wrap {
  padding-top: 75px;
  margin: 1rem auto;
  padding: 1rem;
}

.jobs-row .jobs-list li {
  margin-bottom: 5px;
}

.jobs-row .jobs-list li a.scrollTo {
  background: #e1e2e9;
  display: block;
  color: #000000;
  padding: 8px 12px;
  font-size: 14px;
}

.jobs-row .jobs-list li a.scrollTo:hover {
  background: #0798bf;
  color: #ffffff;
}

.jobs-links {
  padding: 15px 0 0 0;
}

.jobs-links a {
  color: #0798bf;
  display: inline-block;
  padding: 5px;
}

.rt-job {
  border-bottom: 1px solid #ccc;
  padding-bottom: 10px;
  margin-bottom: 10px;
}

.help-header {
  background: url(../img/help-header-bg.png) no-repeat center center;
  background-size: cover;
  min-height: 500px;
}

.search-section {
  width: 100%;
  height: 50px;
  border-radius: 40px;
  background: #ffffff;
  border: 1px solid #f6f8fd;
  margin-top: 220px;
  padding: 0 25px;
}

.search-section .icomoon {
  font-size: 20px;
  color: #545a77;
  margin-top: 12px;
  margin-right: 15px;
}

.search-section input {
  width: 90%;
  border: none;
  font-size: 15px;
}

.search-section input:focus {
  outline: none;
  border: none;
}

.faqlink {
  border: 1px solid #0798bf;
  width: 100%;
  padding: 15px 0;
  text-align: center;
  display: inline-block;
  border-radius: 25px;
  color: #0798bf;
  margin-bottom: 15px;
}

.faqlink:hover {
  background: #0798bf;
  color: #ffffff;
}

.helpbrlinks a {
  color: #0798bf;
  font-size: 13px;
}

.for-businessheader {
  background: radial-gradient(ellipse at right, #c2ccd3 0, #8f9da7 100%);
  height: 600px;
  color: #fff;
}

.communityguide-header {
  background-image: -webkit-gradient(linear, left bottom, left top, color-stop(25%, #11c9e1), to(#0798bf));
  background-image: linear-gradient(0deg, #11c9e1 25%, #0798bf);
  height: 400x;
  color: #fff;
}

.policy-card {
  width: 300px;
  margin: 20px 10px;
  -webkit-transition: .4s;
  transition: .4s;
  padding: 30px 10px;
  border-radius: 4px;
  background-color: #f6f8fd;
  -webkit-box-shadow: 0 2px 4px 0 rgba(214, 214, 214, 0.5);
  box-shadow: 0 2px 4px 0 rgba(214, 214, 214, 0.5);
  display: inline-block;
  color: #0798bf;
}

.policy-card .policy-container {
  margin: 0 auto;
  width: 280px;
}

.policy-card .policy-container .policy-icon {
  width: 25%;
  padding: 3px 10px;
  vertical-align: top;
  text-align: center;
}

.policy-card .policy-container .policy-icon .icomoon {
  font-size: 35px;
}

.policy-card .policy-container .policy-desc {
  width: 70%;
  display: inline-block;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.images-attachment .item {
  position: relative;
  display: inline-block;
}

.images-attachment .item .trashicomoon {
  background: red;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  position: absolute;
  right: 20px;
  top: 0;
  display: inline-block;
  text-align: center;
  line-height: 25px;
}

.images-attachment .item .trashicomoon .icomoon {
  color: #ffffff;
}

.file-input-name {
  display: none !important;
}

.ask-question {
  padding-bottom: 25px;
}

.ask-question .question-text-area {
  border-radius: 5px;
  border: 1px solid #e1e2e9;
  margin-left: 20px;
  position: relative;
  padding: 8px;
}

.ask-question .question-text-area textarea {
  min-height: 50px;
  max-height: 150px;
  border: none;
  width: 100%;
  border-radius: 5px;
  overflow-y: hidden;
}

.ask-question .question-text-area textarea:focus {
  border: none;
  -webkit-box-shadow: none;
          box-shadow: none;
  outline: none;
  overflow-y: auto;
}

.ask-question .question-text-area .question-bottomrow {
  position: relative;
}

.ask-question .question-text-area .question-bottomrow .qtn-bottom-rt {
  position: absolute;
  right: 10px;
  bottom: 5px;
}

.ask-question .question-text-area .question-bottomrow .sendbtn {
  border: none;
  background: none;
}

.ask-question .question-text-area .question-bottomrow .sendbtn:focus {
  color: #0798bf;
  outline: none;
  border: none;
}

.ask-question .question-text-area .question-bottomrow .file-input-name {
  display: inline-block !important;
  background: #0798bf;
  padding: 3px;
  font-size: 12px;
  color: #ffffff;
  cursor: pointer;
}

.ask-question .question-text-area .question-bottomrow .file-input-name:before {
  content: "\f00d";
  font-family: 'icomoon' !important;
  font-size: 13px;
  color: #ffffff;
  background: #0798bf;
  padding: 2px;
}

.ask-question .question-text-area .question-bottomrow .fileinput {
  bottom: -8px;
  left: 0;
  top: inherit;
  position: relative;
}

.ask-question .question-text-area .question-bottomrow .image-upload .fileinput {
  width: 38px;
  height: 38px;
  line-height: 43px;
  background: #e1e2e9;
}

.ask-question .question-text-area .question-bottomrow .image-upload .fileinput .icomoon {
  color: #0798bf;
  font-size: 20px;
}

.section-body {
  padding: 10px;
}

.section-body .update-data {
  font-size: 14px;
  padding-bottom: 20px;
}

.section-body .update-data .label {
  font-size: 13px;
  padding: 2px 0;
}

.section-body .update-data .status {
  width: 100%;
  background: #ffffff;
  border-radius: 10px;
  border: 1px solid #eee;
  padding: 10px;
  cursor: pointer;
}

.section-body .update-data .status:hover {
  border: 1px solid #3b558b;
}

.section-body .update-data .status p {
  font-size: 13px;
}

.section-body .update-data .status .icomoon {
  color: #d2d4df;
  font-size: 20px;
  margin-right: 5px;
  margin-top: -1px;
}

.section-body .update-data .status .select {
  color: #7db343;
}

.section-body .update-data .makeoffer-datashow {
  padding: 8px;
  display: none;
  box-shadow: 0 2px 2px #888;
  -moz-box-shadow: 0 2px 2px #888;
  -webkit-box-shadow: 0 2px 2px #888;
  -ms-box-shadow: 0 2px 2px #888;
  -o-box-shadow: 0 2px 2px #888;
  background: #ffffff;
}

.private-chat-messages {
  padding: 25px 0;
}

.private-chat-messages .message-div {
  padding: 10px;
  background: #f6f8fd;
  border: 1px solid #e1e2e9;
  border-radius: 5px;
  min-height: 65px;
}

.private-chat-messages .message-div .chat-name {
  border-bottom: 1px solid #0798bf;
  padding-bottom: 5px;
  margin-bottom: 5px;
}

.private-chat-messages .message-div .msg-desc {
  padding-bottom: 0;
}

.private-chat-messages .chat-reply-row {
  margin-top: 10px;
  margin-bottom: 10px;
}

.private-chat-messages .chat-reply-row .message-div {
  background: #0798bf;
  color: #ffffff;
}

.private-chat-messages .chat-reply-row .message-div .chat-name {
  border-bottom: 1px solid #ffffff;
}

@media (min-width: 320px) and (max-width: 575px) {
  .navbar-collapse {
    background: #0798bf;
    padding: 15px;
  }
}
/*# sourceMappingURL=style.css.map */